.ErrorModalWrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 237, 121, 0.378);
}

.ErrorModalWindow {
    z-index: 1;
    width: 50%;
    height: 30%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
}
