.postsContainer {
    height: 86vh;
    overflow: auto;
    margin-bottom: 5px;
}

.postItemContainer {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px grey;
    margin: 10px;
}

.loaderContainer {
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 17px;
}

.loader {
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.buttonsContainer {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: cornflowerblue;
    border: 0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:active {
    background-color: rgba(100, 237, 121, 0.378);
}

button:disabled {
    opacity: 0.5;
    pointer-events: none;
}