.postItemContainer {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px grey;
    margin: 10px;
}

.link {
    text-decoration: none;
    color: black;

}

.link:active {
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: rgba(100, 237, 121, 0.378);
}

.active {
    background-color: white;
    color: black;
}

.active:hover {
    background-color: white;
    color: black;
}