.headerClass {
  background-color: cornflowerblue;
  box-shadow: 0 5px 10px 0px;
}

.navClass {
  width: 700px;
  margin: 0 auto;
}

.navClass ul {
  display: flex;
  list-style: none;
  gap: 15px;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
  padding: 15px 0;

}

.link:active {
  color: white;
}

.link:hover {
  background-color: rgba(100, 237, 121, 0.378);
}

.active {
  background-color: white;
  color: cornflowerblue;
}

.active:hover {
  background-color: white;
  color: cornflowerblue;
}

.mainClass {
  width: 700px;
  margin: 12px auto 0;
}